@use '@/assets/common/variables.scss' as *; // Import variables

.card-container {
  &:hover .card {
    opacity: 0.4;
  }
  .card:hover {
    opacity: 1;
  }
}

.card {
  display: block;
  padding: 1.33rem 1rem;
  transition: all 0.3s ease;
  a {
    text-decoration: none;
    color: var(--color-on-surface);
    font-weight: 600;
    font-size: 1.25rem;
    position: relative;
    transition: all 0.3s ease;
    &::after {
      position: relative;
      top: 4px;
      left: 0px;
      height: 24px;
      width: 24px;
      margin-left: 3px;
      content: '';
      background-color: var(--color-primary);
      -webkit-mask: url('@/assets/icons/arrows/ne.svg') no-repeat center;
      mask: url('@/assets/icons/arrows/ne.svg') no-repeat center;
      mask-size: contain;
      align-items: center;
      // background-image: ;
      display: inline-block;
      transition: all 0.3s ease;
      transform: scale(0.6);
    }
  }
  ul.tech-stack {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  &:hover {
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    border-radius: 1rem;
    a {
      color: var(--color-primary);
      &::after {
        transform: scale(0.8);
      }
    }
  }
}

.card.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  color: var(--color-on-surface);
  & > h3 {
    // same as a link
    text-decoration: none;
    color: var(--color-on-surface);
    font-weight: 600;
    font-size: 1.25rem;
    position: relative;
  }
  & > p {
    margin: 0px;
  }
}

.card.work {
  display: block;
  padding: 1.33rem 1rem;
  transition: all 0.3s ease;
  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    & > span {
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}
