@use '@/assets/common/variables.scss' as *; // Import variables

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-md;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: var(--color-surface-container);
  color: var(--color-on-surface);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  h4 {
    margin-bottom: $spacing-md;
  }
  & > p {
    margin: 0px;
  }

  & > ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  & > a {
    text-align: end;
  }
}

.work-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.33rem 1rem;
  transition: all 0.3s ease;
  & > p {
    flex: 0 0 9rem;
    font-size: 0.8em;
  }
  & > div {
    flex: 1 1 calc(90% - 10rem);
    display: block;
    min-width: 348px;
  }
  &:hover {
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    border-radius: 1rem;
  }
}
